.footer {
    border-top: 2px solid #333;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer > div {
    height: 25px;
    font-size: 12px;
    text-align: left;
    margin: 0 auto;
    width: 271px;
}

.footer> .copyright {
    width: auto;
    text-align: center;
    font-size: 12px;
    margin-top: 6px;
}
