body {
	margin:0;
}

#main-content {
    padding: 0;
}

.header {
	width:100%;
	overflow: hidden;
}

.header>div {
	width: 25%;
	float: left;
}

.header>div>a>img {
	width: 100%;
	display: block;
}

#btnCart img {
    height: 46px;
    width: 46px;
}